{% extends "base.html" %}

{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block title %}
Tentang Python
{% endblock %}

{% block main %}

<a href="http://python.org">Python</a> merupakan bahasa pemrograman yang memungkinkan pemrogram bekerja lebih cepat dan efektif. Anda dapat belajar untuk menggunakan Python dan merasakan manfaatnya segera dalam peningkatan produktivitas Anda.<br />
<br />
Python berjalan pada Windows, Linux/Unix, Mac OS X, dan telah diporting ke Java (<a href="http://www.jython.org/">Jython</a>) serta .NET (IronPython).<br />
<br />
Python bebas untuk digunakan, bahkan untuk membuat produk komersial.<br />
<br />

Ingin belajar Python?<br />
<br />

<ol>
    <li>Download <a href="http://www.python.org/download/releases/2.7.2/">Python 2.7</a> atau
    <a href="http://www.python.org/download/releases/3.2/">Python 3</a></li>
    <li>Ikuti <a href="http://docs.python.org/tutorial/">tutorialnya</a></li>
</ol>

<br />
Ikuti diskusi Python di:<br />
<br />
<ul>
    <li><a href="http://groups.yahoo.com/group/id-python">Milis id-python</a>
    <li><a href="https://convore.com/id-python/">Convore id-python</a>
</ul>
{% endblock %}
